doctype html
html(lang='de')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Lokales Marketing für Geschäfte und Betriebe in der Eifel. Werden Sie gefunden mit Ihrem Google-Brancheneintrag! Persönlich und unkompliziert.')
        meta(name='keywords', content='Online-Marketing, lokales Marketing, Brancheneintrag, Google MyBusiness, lokale Geschäfte, Eifel, Betriebe')
        meta(name='author', content='Robin Cremer')

        title Online-Marketing Eifel. Ihr Brancheneintrag für lokale Betriebe in der Eifel.

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/logo_square.ico')
        
        // Start cookieyes banner
        script#cookieyes(type='text/javascript' src='https://cdn-cookieyes.com/client_data/4cc8120ff549c700f0bfb0ff.js')
        // End cookieyes banner
        
        // Global site tag (gtag.js) - Google Analytics
        script(async='' data-cookieyes='cookieyes-analytics' src='https://www.googletagmanager.com/gtag/js?id=G-151KHJ54FN')
        script(data-cookieyes='cookieyes-analytics').
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-151KHJ54FN', { 'anonymize_ip': true });


        //- // Font Awesome icons (free version)
        //- script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')
        
        // Font Awesome icons (free version) (local)
        script(src='js/all.min.js')

        //- // Google fonts
        //- link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        //- link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        //- // Third party plugin CSS
        //- link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container
                a.js-scroll-trigger(href='#page-top')
                  img.d-inline-block.align-top(src='assets/logo.ico' height='20' alt='logo')
                a.navbar-brand.d-none.d-sm-block.js-scroll-trigger(href='#page-top') Online-Marketing Eifel
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') Ihr Brancheneintrag
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#services') Services
                        //- li.nav-item
                        //-     a.nav-link.js-scroll-trigger(href='#portfolio') Portfolio
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#aboutMe') Über mich
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Kontakt
                        //- li.nav-item
                        //-     a.nav-link.js-scroll-trigger(href='#contact') Impressum

        // Masthead
        header.masthead
            .container.h-100
                .row.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-10.align-self-end
                        h1.text-uppercase.text-white.font-weight-bold Ihr Betrieb hat viel zu bieten.
                        br
                        h1.text-uppercase.text-white.font-weight-bold Zeigen Sie es!
                        hr.divider.my-4
                    .col-lg-8.align-self-baseline
                        p.text-white-75.font-weight-light.mb-5
                            | Lokale Betriebe sind online oft nicht so sichtbar, wie sie es verdient hätten.
                            br
                            | Dadurch entgehen Ihnen viele Chancen auf neue und zufriedene Kunden.
                            br
                            br 
                            | Das lässt sich ändern:
                            br
                            br
                            | Mit Ihrem Google-Brancheneintrag!
                            //- | Dabei wird neben einer Website eine Sache meist vernachlässigt: Ihr Online-Brancheneintrag!                            
                        a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') Ist das so wichtig?

        // About
        section#about.page-section
            .container
                .row.justify-content-center
                    .col-lg-8.text-center
                        h2.text-center.mt-0.mb-4 
                          | Ihr Google-Brancheneintrag:
                          br
                          br 
                          | Wichtiger, als Sie denken
                        //- hr.divider.my-4
                        p.text-muted.mb-4
                            | Das Erste, was wir online von einem Unternehmen sehen, ist meist nicht die Homepage, sondern der Brancheneintrag bei Google und Google Maps.
                            br
                            br
                            | Den können Sie aktiv beeinflussen.
                            br
                            br
                            | Mit Ihrem kostenlosen Unternehmensprofil bei Google
                            a.link.text-muted(type='button' data-toggle='modal' data-target='#backgroundModal')
                              | (was ist das?).  
                        .container
                          .text-center.text-muted.mb-4
                              // backgroundModal
                              include background.pug

                        hr.divider.my-4
                        //- button.btn.btn-secondary(type='button' data-container='body' data-toggle='popover' data-placement='top' data-content='Top popover')
                        //-   | Popover on top
                        h3.text-center.mb-4 Um gefunden zu werden
                        p.text-muted.mb-4
                            | Der Großteil aller Neukunden sucht Sie zuerst online.
                            br
                            br
                            //- | Wussten Sie, dass Sie keine teure Homepage oder Marketing-Abteilung brauchen, um wesentlich häufiger im Netz gefunden zu werden?
                            //- br            
                            | <strong>Ob</strong> und <strong>wie</strong> Ihr Geschäft in der Online-Suche erscheint,
                            | das ist besonders für lokale Betriebe entscheidend: 
                            | Die Suchmaschinen sind darauf ausgelegt, Ihnen eine faire Chance gegenüber größeren Konkurrenten zu geben.
                            br
                            br
                            | Nutzen Sie diesen Vorteil!
                        hr.divider.my-4
                        h3.text-center.mb-4 Der erste Eindruck zählt
                        p.text-muted.mb-4
                            | Fehlende Infos schrecken ab.
                            br
                            br
                            | Wussten Sie, dass fehlende oder nicht aktuelle Infos bei der Online-Suche potenzielle Kunden davon abhalten, Ihr Geschäft überhaupt zu besuchen?
                            | Fast die Hälfte bricht die Suche sogar schon ab, wenn nur die Adresse oder Öffnungszeit nicht korrekt ist.
                            //- br
                            //- | Ihr Brancheneintrag wird meist automatisiert erstellt, wenn Sie ihn nicht aktiv verwalten. Sind dort falsche Infos oder schlechte Bilder zu finden, wird das Ihrem Betrieb zugeschrieben
                            //- | und das Vertrauen schwindet, auch wenn Sie gar nicht dafür verantwortlich sind.
                            //- br
                            //- br
                            //- | Der erste Eindruck zählt!
                        hr.divider.my-4
                        h3.text-center.mb-4 Lassen Sie sich beraten
                        p.text-muted.mb-4
                            | Persönlich und unkompliziert.
                            br
                            br
                            //- | Mit einfachen Mitteln können Sie Ihren Brancheneintrag nutzen, um wesentlich häufiger gefunden zu werden und mehr Kunden zu gewinnen.
                            //- | Mit Ihrem kostenlosen Google Unternehmensprofil können Sie Ihre Einträge in der Suche oder Google Maps verwalten und optimieren.
                            | Ich helfe Ihnen persönlich bei der optimalen Umsetzung.
                            br
                            br
                            | Für mehr zufriedene Kunden.
                            //- | Diese Dienste werden von den Suchmaschinen-Betreibern kostenlos angeboten und müssen lediglich sinnvoll eingerichtet und genutzt werden, individuell angepasst an Ihren Betrieb.
                            //- | Ich helfe Ihnen bei der Erstellung Ihres individuellen Unternehmensprofils und der Verwaltung Ihres Brancheneintrags, damit Sie Ihren Vorteil als lokaler Betrieb optimal nutzen können.
                        a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#services') Los geht's!

        // Services
        section#services.page-section
            .container
                h2.text-center.mt-0 Mehr Kunden in wenigen Schritten
                hr.divider.my-4
                .row
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.icon.fas.fa-4x.fa-chart-bar.mb-4
                            h3.h4.mb-2 Analyse
                            p.text-muted.mb-0 
                              | Wie steht es um Ihre Präsenz im Web?
                              br 
                              | Ihr aktueller Brancheneintrag wird ausführlich untersucht und sinnvolle Maßnahmen werden konkret erarbeitet.
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.icon.fas.fa-4x.fa-globe.mb-4
                            h3.h4.mb-2 Einrichtung
                            p.text-muted.mb-0 Ihr Eintrag wird nach Ihrem individuellen Bedarf eingerichtet. Sie entscheiden, was und wie viel optimiert werden soll.
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.icon.fas.fa-4x.fa-gem.mb-4
                            h3.h4.mb-2 Optimierung
                            p.text-muted.mb-0 
                              | Ihr Eintrag wird laufend angepasst und aktualisiert.
                              | Für immer bessere Ergebnisse.
                              //- | Glänzt Ihr digitales Schaufenster? Haben Sie aussagekräftige Bilder? Sind alle Angaben aktuell?
                              //- | Bei Bedarf erhalten Sie für Ihren Eintrag optimierte Fotos.
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.icon.fas.fa-4x.fa-heart.mb-4
                            h3.h4.mb-2 Persönlicher Support
                            p.text-muted.mb-0 Sie erhalten persönliche Unterstützung zur langfristigen Verwaltung Ihres Profils. Für mehr Bewertungen, mehr Kunden, weniger Werbungsaufwand. 
                    //- .col-lg-3.col-md-6.text-center
                    //-     .mt-5
                    //-         i.fas.fa-4x.fa-laptop-code.text-primary.mb-4
                    //-         h3.h4.mb-2 Alles weitere
                    //-         p.text-muted.mb-0 Möchten Sie digitale Abläufe vereinfachen?
                    //- section.features-icons.bg-light.text-center
                    //-             .container
                    //-                 .row
                    //-                     .col-lg-4
                    //-                         .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                    //-                             .features-icons-icon.d-flex
                    //-                                 i.icon-screen-desktop.m-auto.text-primary
                    //-                             h3 Fully Responsive
                    //-                             p.lead.mb-0 This theme will look great on any device, no matter the size!
                    //-                     .col-lg-4
                    //-                         .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                    //-                             .features-icons-icon.d-flex
                    //-                                 i.icon-layers.m-auto.text-primary
                    //-                             h3 Bootstrap 4 Ready
                    //-                             p.lead.mb-0 Featuring the latest build of the new Bootstrap 4 framework!
                    //-                     .col-lg-4
                    //-                         .features-icons-item.mx-auto.mb-0.mb-lg-3
                    //-                             .features-icons-icon.d-flex
                    //-                                 i.icon-check.m-auto.text-primary
                    //-                             h3 Easy to Use
                    //-                             p.lead.mb-0 Ready to use with your own content, or customize the source files!
        //- // Portfolio
        //- div#portfolio
        //-     .container-fluid.p-0
        //-         .row.no-gutters
        //-             .col-lg-4.col-sm-6
        //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/1.jpg')
        //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/1.jpg', alt='...')
        //-                     .portfolio-box-caption
        //-                         .project-category.text-white-50
        //-                             | Category
        //-                         .project-name
        //-                             | Project Name
        //-             .col-lg-4.col-sm-6
        //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/2.jpg')
        //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/2.jpg', alt='...')
        //-                     .portfolio-box-caption
        //-                         .project-category.text-white-50
        //-                             | Category
        //-                         .project-name
        //-                             | Project Name
        //-             .col-lg-4.col-sm-6
        //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/3.jpg')
        //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/3.jpg', alt='...')
        //-                     .portfolio-box-caption
        //-                         .project-category.text-white-50
        //-                             | Category
        //-                         .project-name
        //-                             | Project Name
        //-             .col-lg-4.col-sm-6
        //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/4.jpg')
        //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/4.jpg', alt='...')
        //-                     .portfolio-box-caption
        //-                         .project-category.text-white-50
        //-                             | Category
        //-                         .project-name
        //-                             | Project Name
        //-             .col-lg-4.col-sm-6
        //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/5.jpg')
        //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/5.jpg', alt='...')
        //-                     .portfolio-box-caption
        //-                         .project-category.text-white-50
        //-                             | Category
        //-                         .project-name
        //-                             | Project Name
        //-             .col-lg-4.col-sm-6
        //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/6.jpg')
        //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/6.jpg', alt='...')
        //-                     .portfolio-box-caption.p-3
        //-                         .project-category.text-white-50
        //-                             | Category
        //-                         .project-name
        //-                             | Project Name
            
        section#aboutMe.page-section.bg-light
            .container
                h2.text-center.mt-0 Über mich
                hr.divider.my-4         
                .row.align-items-center.justify-content-center.text-center
                    .col.xs.mw-5
                      img.img-fluid.rounded-circle.mb-4(src='assets/img/profile.jpg', alt='profile picture')
                    .col-lg-8.mx-auto
                      .mb-5.mb-lg-0
                            //- img.img-fluid.rounded-circle.mb-4(src='assets/img/profile.jpg', alt='...')
                            h3.h4.mb-2 Robin Cremer
                            p.text-muted.mb-0
                              //- | Seit Jahren fällt mir immer wieder auf, dass bei der Suche nach einem lokalen Betrieb wichtige Infos fehlen oder falsch sind, keine guten Bilder genutzt werden oder gar kein verwalteter Eintrag besteht.
                              //- | Viele Betriebe sind sogar gar nicht zu finden, wenn man nicht direkt danach sucht! 
                              //- | Wer stand nicht schon einmal vor verschlossenen Türen, weil die Öffnungszeit falsch war?
                              //- | Und wer scrollt schon auf Seite zwei der Suchergebnisse, wenn auf der ersten Seite schon andere passende Betriebe zu finden sind?
                              //- br
                              //- | Aus persönlichem, später auch aus beruflichem Interesse habe ich mich intensiver mit dem Thema Online-Marketing beschäftigt und mir durch Schulungen wie der Google-Zukunftswerkstatt und der praktischen Anwendung das nötige Wissen angeeignet. 
                              //- | Dabei habe ich erkannt, dass besonders bei kleinen und lokalen Betrieben, 
                              //- | die nicht die Zeit und das Geld für große Marketing-Kampagnen haben, das Unternehmensprofil vernachlässigt wird. Sie kümmern sich um Ihr Kerngeschäft und das ist auch gut so!
                              //- br
                              | Ich helfe Ihnen bei der Verwaltung und Optimierung Ihres Google-Brancheneintrags und -Unternehmensprofils.
                              br
                              br
                              | Dabei lege ich Wert darauf, Sie direkt, persönlich und unkompliziert zu unterstützen und den individuellen Charakter Ihres Betriebs in der Eifel zu unterstreichen.
                              br
                              br
                              | Denn das ist schließlich das, was Sie den großen Konkurrenten voraushaben und Sie zukunftsfähig macht!
                              //- | und verfolge ich mit großer Begeisterung.
                    //- .col-lg-8
                    //-   img.img-fluid.rounded-circle.mb-4(src='assets/img/portfolio/fullsize/1.jpg', alt='...')
                    //-   h3.h4.mb-2 Test Man
                    //-   p.text-muted.mb-0
                    //-     | Ich möchte lokalen und gerade kleineren Betrieben bei Ihrem Online-Auftritt helfen.
                    //-     | Dabei lege ich Wert darauf, die Betriebe unkompliziert und persönlich zu beraten und den individuellen Charakter des Betriebs zu unterstreichen.
                    //-     | Denn das ist schließlich das, was sie anderen voraushaben und sie zukunftsfähig machen!     
                    //-     | Mein Know-How in Sachen Online-Präsenz und -Kommunikation habe ich mir durch Schulungen wie der Google-Zukunftswerkstatt und durch meine mehrjährige berufliche Tätigkeit nebem dem Studium angeeignet
                    //-     | und verfolge ich mit großer Begeisterung.                    
                                               
        //- section.testimonials.text-center.bg-light
        //-             .container
        //-                 h2.mb-5 What people are saying...
        //-                 .row
        //-                     .col-lg-4
        //-                         .testimonial-item.mx-auto.mb-5.mb-lg-0
        //-                             img.img-fluid.rounded-circle.mb-3(src='assets/img/testimonials-1.jpg', alt='...')
        //-                             h5 Margaret E.
        //-                             p.font-weight-light.mb-0 "This is fantastic! Thanks so much guys!"
        //-                     .col-lg-4
        //-                         .testimonial-item.mx-auto.mb-5.mb-lg-0
        //-                             img.img-fluid.rounded-circle.mb-3(src='assets/img/testimonials-2.jpg', alt='...')
        //-                             h5 Fred S.
        //-                             p.font-weight-light.mb-0
        //-                                 | "Bootstrap is amazing. I've been using it to create lots of super nice landing pages."
        //-                     .col-lg-4
        //-                         .testimonial-item.mx-auto.mb-5.mb-lg-0
        //-                             img.img-fluid.rounded-circle.mb-3(src='assets/img/testimonials-3.jpg', alt='...')
        //-                             h5 Sarah W.
        //-                             p.font-weight-light.mb-0 "Thanks so much for making these free resources available to us!"
        //- 
        //- // Call to action
        //- section.page-section.bg-dark.text-white
        //-     .container.text-center
        //-         h2.mb-4 Free Download at Start Bootstrap!
        //-         a.btn.btn-light.btn-xl(href='https://startbootstrap.com/theme/creative/') Download Now!

        // Contact
        section#contact.page-section
            .container
                .row.justify-content-center
                    .col-lg-8.text-center
                        h2.mt-0 Kontaktieren Sie mich!
                        hr.divider.my-4
                        p.text-muted.mb-5
                            | Interesse? Fragen?
                            br
                            | Kontaktieren Sie mich und ich melde mich so schnell wie möglich bei Ihnen.
                .row
                    .col-lg-4.ml-auto.text-center.mb-5.mb-lg-0
                        i.fas.fa-phone.fa-3x.mb-3.text-muted
                        a.d-block(href='tel:015787406494') 0157 87406494
                    .col-lg-4.mr-auto.text-center
                        i.fas.fa-envelope.fa-3x.mb-3.text-muted

                        // Make sure to change the email address in BOTH the anchor text and the link target below!
                        a.d-block(href='mailto:info@online-marketing-eifel.de') info@online-marketing-eifel.de

        // Footer
        footer#footer.bg-light.py-5
            .container
                .small.text-center.text-muted
                    | Copyright &copy;
                    // This script automatically adds the current year to your website footer
                    // (credit: https://updateyourfooter.com/)
                    script.
                        document.write(new Date().getFullYear());
                    |  - Online-Marketing Eifel | Robin Cremer
                    br
                    //-Cookie Preferences
                    a.d-block.link.text-muted.cky-banner-element(type='button') Cookie-Einstellungen verwalten
                    // Imprint
                    a.d-block.link.text-muted(type='button' data-toggle='modal' data-target='#imprintModal')
                      | Impressum
                    // Modal
                    include imprint.pug
                    // Privacy
                    a.d-block.link.text-muted(type='button' data-toggle='modal' data-target='#privacyModal')
                      | Datenschutz
                    // Modal
                    include privacy.pug

        //- // Bootstrap core JS
        //- script(src='https://code.jquery.com/jquery-3.5.1.min.js')
        //- script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js')
        // Local Bootstrap core JS
        script(src='js/jquery.min.js')
        script(src='js/bootstrap.bundle.min.js')
        
        //- 
        // Third party plugin JS
        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js')
        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')
        // Local third party plugin JS
        script(src='js/anime.min.js')
        script(src='js/jquery.magnific-popup.min.js')
        
        
        // Core theme JS
        script(src='js/scripts.js')
        
        //- // Cookie Consent by https://www.PrivacyPolicies.com
        //- script(type='text/javascript' src='//www.privacypolicies.com/public/cookie-consent/3.1.0/cookie-consent.js')
        //- script(type='text/javascript').
        //-   document.addEventListener('DOMContentLoaded', function () {
        //-   cookieconsent.run({"notice_banner_type":"simple","consent_type":"express","palette":"light","language":"de","website_name":"testing","change_preferences_selector":"#changePreferences"});
        //-   });
        //- // technically necessary (bootstrap, animation, jquery, icons)
        //- //- script(type='text/plain' cookie-consent='strictly-necessary' src='https://code.jquery.com/jquery-3.5.1.min.js')
        //- //- script(type='text/plain' cookie-consent='strictly-necessary' src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js')
        //- //- script(type='text/plain' cookie-consent='strictly-necessary' src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js')
        //- //- script(type='text/plain' cookie-consent='strictly-necessary' src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')
        //- //- script(type='text/plain' cookie-consent='strictly-necessary' src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')
        //- // end of technically necessary (bootstrap, animation, jquery, icons)
        //- noscript
        //-   | Cookie Consent by 
        //-   a(href='https://www.PrivacyPolicies.com/cookie-consent/' rel='nofollow noopener') PrivacyPolicies.com
        //- // End Cookie Consent
        
        //- // Cookie Consent by https://www.PrivacyPolicies.com
        //- script(type='text/javascript' src='//www.privacypolicies.com/public/cookie-consent/4.0.0/cookie-consent.js' charset='UTF-8')
        //- script(type='text/javascript' charset='UTF-8').
        //-   document.addEventListener('DOMContentLoaded', function () {
        //-   cookieconsent.run({"notice_banner_type":"interstitial","consent_type":"express","palette":"light","language":"de","page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,"open_preferences_center_selector":"#changePreferences","website_privacy_policy_url":"http://localhost:3000/#privacyModal","website_name":"Test Name"});
        //-   });
        //- // Cookie Consent
        //- script(type='text/plain' cookie-consent='strictly-necessary' src='//www.privacypolicies.com/public/cookie-consent/4.0.0/cookie-consent.js' charset='UTF-8')
        //- // end of Cookie Consent
        //- noscript
        //-   | Cookie Consent by 
        //-   a(href='https://www.PrivacyPolicies.com/cookie-consent/' rel='nofollow noopener') PrivacyPolicies.com
        //- // End Cookie Consent      
